
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgoldenrodyellow;
    font-size: 19px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    flex: 1;
    background-color: beige;
    border: 1px solid greenyellow;
    padding: 1em;
    margin: 0.25em;
    border-radius: 0.5em;
    justify-content: space-around;
    display: inline-block;
}

.hidden {
    display: none;
}

.caption {
    display: block;
    text-align: center;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.movieSearch {
    text-align: center;
    font-size: 19px;
}
header{
    background-color: rgb(6,37,65);
}

.nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .nav li {
    font-size: 13px;
    display: block;
    float: left;
    height: 90px;
    width: 100px;
    /*new*/
    text-align: center;
    /*new*/
    transition: all 0.2s ease-in-out;
  }
  
  .nav .home {
    color: #F18701;
  }
  
  
  .nav .LogOut {
    color: #F35B04;
  }
  
  .nav .myList {
    color: #F7B801;
  }

  .nav li {
    /* font-family: FontAwesome; */
    color: #eee;
    font-size: 0;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  
  .nav .home li i {
    color: #fff;
    padding: 0 10px;
  }
  
  .nav li b {
    padding: 15px 0;
    display: none;
  }
  
  .nav a:hover {
    color: #fff;
  }
  
  .nav .LogOut a:hover {
    color: black;
  }
  .nav .LogOut a:hover {
    color: black;
  }

  .nav .LogOut:hover {
    color: black;
  }
  .nav .myList a:hover {
    color: black;
  }
  .nav .myList a:hover {
    color: black;
  }

  .nav .myList:hover {
    color: black;
  }
  .nav .home a:hover {
    color: black;
  }
  .nav .home a:hover {
    color: black;
  }

  .nav .home:hover {
    color: black;
  }
  .nav .home a:hover i {
    display: none;
  }
  .nav .LogOut a:hover i {
    display: none;
  }
  
  .nav .myList a:hover i {
    display: none;
  }
  
  .nav .LogOut a:hover i {
    display: none;
  }
  
  .nav .myList:hover b {
    display: block;
  }
 
  .nav .LogOut:hover b {
    display: block;
  }
 
  
  .nav .home:hover b {
    display: block;
  }